/* ----------cover---------------- */
.coverku {
  width: 558px;
  height: 650px;
  border: ridge;
}

@media screen and (max-width: 900px) {
  .coverku {
    width: 355px;
    height: 450px;
    margin-left: 2.5vw;
    border: ridge;
  }
}
