h1,
h2 {
  font-family: "Playfair Display";
  font-size: 22px;
}

/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366 !important;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}
.instagram_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 100px;
  right: 40px;
  background-color: #ffffff;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

.instagram_icon {
  /* display: inline-block; */
  position: fixed;
  bottom: 115px;
  right: 38px;
  width: 60px;
  height: 55px;
  text-align: center;
  border-radius: 10px;
  /* color: #fff; */
  /* font-size: 220px; */
  line-height: 60px;
  /* vertical-align: middle; */
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  z-index: 0;
}
.fa-instagram {
  z-index: 2;
}

.instagram_icon:hover {
  color: white;
}

.whatsapp-icon {
  margin-top: 16px;
}
/* ----------cover---------------- */
.coverku {
  width: 450;
  height: 555;
  /* border: ridge; */
  border-bottom: ridge;
  margin-left: 8vw;
  margin-top: -4vw;
}

.bodyCover {
  text-align: center;
  padding-top: 20vw;
}
.intro {
  margin-top: -100px;
  margin-left: 30px;
}

.rins0 {
  width: 500px;
  /* border: ridge; */
  /* position: absolute; */
  position: relative;
  left: 100px;
  top: 15px;
  z-index: -1;
}

/* --------- Find ---------- */

.findd {
  width: 1100px;
  height: 350px;
  margin-left: 9vw;
  margin-bottom: 5vw;
  border-radius: 24px;
  background-image: url("/makeup/findafter.jpg");
  background-size: 1100px 350px;
  filter: brightness(90%);

  /* opacity: 0.6; */
}

.findd:hover {
  margin-bottom: 5vw;
  border-radius: 24px;
  /* background-image: url("/makeup/findafter.jpg"); */
  filter: brightness(100%);

  background-size: 1100px 350px;
}

.text-find {
  margin-left: 40px;
  padding-top: 150px;
}

@media screen and (max-width: 800px) {
  .coverku {
    width: 355px;
    height: 450px;
    margin-left: 4.5vw;
    margin-top: 20vw;
    border: ridge;
  }
  .bodyCover {
    text-align: center;
    margin-top: -100px;
    /* margin: 25px; */
    /* margin-top: 10px; */
    /* background-color: pink; */
  }
  .intro {
    margin-top: 12px;
  }
  .rins0 {
    width: 300px;
    left: 0px;
    bottom: 50px;
  }

  .whatsapp-icon {
    margin-top: 10px;
    /* bottom: 10px; */
  }
  .whatsapp_float {
    width: 55px;
    height: 55px;
    bottom: 15px;
    right: 10px;
    font-size: 22px;
  }

  .instagram_float {
    width: 55px;
    height: 55px;
    bottom: 75px;
    right: 10px;
    font-size: 22px;
  }

  .instagram_icon {
    width: 55px;
    height: 55px;
    bottom: 75px;
    right: 10px;
    font-size: 22px;
  }

  /* ini find untuk hp */
  .findd {
    width: 400px;
    height: 150px;
    /* margin-left: 0.25vw; */
    margin-right: 0.5vw;
    margin-bottom: 5vw;
    border-radius: 24px;
    background-image: url("/makeup/findbefore.jpg");
    background-size: 400px 150px;
  }

  .findd:hover {
    width: 400px;
    height: 150px;
    /* margin-left: 0.25vw; */
    margin-right: 0.5vw;
    margin-bottom: 5vw;
    border-radius: 24px;
    background-image: url("/makeup/findafter.jpg");
    background-size: 400px 150px;
  }

  .text-find {
    margin-left: 22px;
    padding-top: 40px;
    font-size: 12px;
    overflow: hidden;
    width: 225px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.wadahGrid {
  background-color: pink;
  border-radius: 25px;
}
