.cardGrid {
  position: relative;
  padding: 10px;
  background-image: url("/makeup/wedding4rem.jpg");
  background-size: 350px 420px;
  margin-left: -100px;
  background-repeat: no-repeat;
  /* border: ridge; */
  border-radius: 20px;
  width: 350px !important;
  height: 320px;
  /* z-index: 1; */
  transition: all 500ms ease-in-out;
  margin: 0 auto;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);
}
.cardGridEng {
  position: relative;
  padding: 10px;
  background-image: url("/makeup/engagement0.jpg");
  background-size: 370px 380px;
  background-repeat: no-repeat;
  /* border: ridge; */
  border-radius: 20px;
  width: 350px !important;
  height: 320px;
  /* z-index: 1; */
  transition: all 500ms ease-in-out;
  margin: 0 auto;
}

/* aneeeeeeeeeeeeeeeeeeh */
.cardGridWed:hover {
  background: rgba(2, 0, 0, 0.65) url("/makeup/wedding4rem.jpg");
  background-size: 350px 420px;
  background-blend-mode: darken;
}
.cardGridEng:hover {
  background: rgba(2, 0, 0, 0.65) url("/makeup/engagement0.jpg");
  background-size: 370px 380px;
  background-blend-mode: darken;
}
.cardGridGrad:hover {
  background: rgba(2, 0, 0, 0.65) url("/makeup/grad0rem.jpg");
  background-size: 350px 380px;
  background-blend-mode: darken;
}

.cardGridGrad {
  position: relative;
  padding: 10px;
  background-image: url("/makeup/grad0rem.jpg");
  background-size: 350px 380px;
  background-repeat: no-repeat;
  /* border: ridge; */
  border-radius: 20px;
  width: 350px !important;
  height: 320px;
  /* z-index: 1; */
  transition: all 500ms ease-in-out;
  margin: 0 auto;
}

.cardGrid p {
  text-align: center;
  font-size: 24px;
}

.catGrid {
  /* border: ridge; */
  color: white;
  width: 300px;
  height: 280px;
  padding-top: 95px;
}

.catGrid button {
  /* margin-left: 100px; */
  padding: 7px 12px;
  border: unset;
  border-radius: 15px;
  color: white;
  /* z-index: 1; */
  /* background: #e8e8e8; */
  background: transparent;
  position: relative;
  /* font-weight: 1000; */
  font-size: 14px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  border: 1px solid;
  border-color: white;
}

.catGrid button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  /* background-color: #212121; */
  background: #e8e8e8;
  color: black;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.catGrid button:hover {
  color: black;
}

button:hover::before {
  width: 100%;
}

.catGrid::after {
  z-index: -1;

  display: flex;
  font-size: 22px;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
  color: #fff;
}

.catGrid:hover {
  transform: scale(1.1);
  transition: all 500ms ease-in-out;
}
