nav {
  border: ridge;
}

.iconimg img {
  width: 30%;
  /* border: ridge; */
  margin-bottom: -30px;
  margin-top: -20px;
}

.togglee {
  width: 100%;
}

.lore {
  border: ridge;
  /* margin-left: 200px; */
  /* display: inline-block; */
  /* align-self: flex-end; *a/
  /* text-align: right; */
  /* font-size: 100px; */
}
.loredet {
  text-align: center;
  border: ridge;
}

.dropdown-menu a:hover {
  color: rgb(255, 165, 180);
  background-color: rgb(244, 244, 244);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

.abc {
  /* background-color: pink; */
  margin-bottom: -12px;
  margin-top: -8px;
}

a {
  background-image: linear-gradient(to right, #ff7eb8, #54b3d6 50%, #000 90%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: "";
  background: #ffc3d8;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .iconimg img {
    width: 90%;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 0px;
  }
  .iconimg {
    margin-left: 15vw;
  }

  .lore {
    border: ridge;
    margin: 0 auto;
  }
  .loredet {
    text-align: center;
    margin-left: 0;
  }
}
